@import "./node_modules/react-vis/dist/style";

.rv-xy-plot__inner {
  padding-left: 20px
}

.rv-xy-plot__axis__title text {
  font-size: 20px
}

.data-box {
  float: right;
  width: 50%;
  height: 300px;
  h3 {
    text-align: center;
  }
}

.history-entries {
  height: inherit;
  overflow: scroll;
}
