@import "./node_modules/react-vis/dist/style";

.rv-xy-plot__inner {
  padding-left: 20px
}

.rv-xy-plot__axis__title text {
  font-size: 20px
}

.data-box {
  float: left;
  width: 50%;
  height: 400px;
  overflow: scroll;
  h3 {
    text-align: center;
  }
  .full {
    width: 100%;
  }
}

.history-entries {
  height: 300px;
  overflow: scroll;
}
