@import "./node_modules/react-vis/dist/style";

.rv-xy-plot__inner {
  padding-left: 20px;
}

.rv-xy-plot__axis__title text {
  font-size: 20px;
}

.data-box {
  float: left;
  width: 50%;
  overflow: scroll;
  h3 {
    text-align: center;
  }
  &.full {
    width: 100%;
  }
}

.history-entries {
  max-height: 300px;
  overflow: scroll;
}

.birds {
  padding-left: 20px;
  max-height: 900px;
  overflow: scroll;
  .rv-xy-plot__inner {
    padding-left: 55px !important;
  }
}

.header {
  text-align: center;
  padding: 20px;
}

.slider {
  padding-left: 20px;
  padding-right: 20px;
}

.data-boxes {
  padding: 30px;
  text-align: center;
  font-size: 20px;
}
